# Étape 3 - Chargement, pré-traitement

In [5]:
case class Car(
  rownames: Int,
  mpg: Double,
  cylinders: Int,
  displacement: Double,
  horsepower: Double,
  weight: Double,
  acceleration: Double,
  year: Int,
  origin: Int,
  name: String
)


val carDF = spark.read
  .option("header", "true")
  .option("inferSchema", "true")
  .csv("./data-car.csv")
  .as[Car]


carDF.show()

defined class Car
carDF = [rownames: int, mpg: double ... 8 more fields]

+--------+----+---------+------------+----------+------+------------+----+------+--------------------+
|rownames| mpg|cylinders|displacement|horsepower|weight|acceleration|year|origin|                name|
+--------+----+---------+------------+----------+------+------------+----+------+--------------------+
|       1|18.0|        8|       307.0|       130|  3504|        12.0|  70|     1|chevrolet chevell...|
|       2|15.0|        8|       350.0|       165|  3693|        11.5|  70|     1|   buick skylark 320|
|       3|18.0|        8|       318.0|       150|  3436|        11.0|  70|     1|  plymouth satellite|
|       4|16.0|        8|       304.0|       150|  3433|        12.0|  70|     1|       amc rebel sst|
|       5|17.0|        8|       302.0|       140|  3449|        10.5|  70|     1|         ford torino|
|       6|15.0|        8|       429.0|       198|  4341|        10.0|  70|     1|    ford galaxie 500|
|       7|14.0|        8|       454.0|       220|  4354|         9.0|  70|     1|    chevrolet impala|
|       8|14.0|        8|       440.0|       215|  4312|         8.5|  70|     1|   plymouth fury iii|
|       9|14.0|        8|       455.0|       225|  4425|        10.0|  70|     1|    pontiac catalina|
|      10|15.0|        8|       390.0|       190|  3850|         8.5|  70|     1|  amc ambassador dpl|
|      11|15.0|        8|       383.0|       170|  3563|        10.0|  70|     1| dodge challenger se|
|      12|14.0|        8|       340.0|       160|  3609|         8.0|  70|     1|  plymouth 'cuda 340|
|      13|15.0|        8|       400.0|       150|  3761|         9.5|  70|     1|chevrolet monte c...|
|      14|14.0|        8|       455.0|       225|  3086|        10.0|  70|     1|buick estate wago...|
|      15|24.0|        4|       113.0|        95|  2372|        15.0|  70|     3|toyota corona mar...|
|      16|22.0|        6|       198.0|        95|  2833|        15.5|  70|     1|     plymouth duster|
|      17|18.0|        6|       199.0|        97|  2774|        15.5|  70|     1|          amc hornet|
|      18|21.0|        6|       200.0|        85|  2587|        16.0|  70|     1|       ford maverick|
|      19|27.0|        4|        97.0|        88|  2130|        14.5|  70|     3|        datsun pl510|
|      20|26.0|        4|        97.0|        46|  1835|        20.5|  70|     2|volkswagen 1131 d...|
+--------+----+---------+------------+----------+------+------------+----+------+--------------------+
only showing top 20 rows

[rownames: int, mpg: double ... 8 more fields]

# Séance 2

## Étape 1 - RDD vers un dataframe

In [15]:
import org.apache.spark.sql.functions._


val rdd = spark.sparkContext.textFile("./data-car.csv")

val header = rdd.first()
val dataRDD = rdd.filter(_ != header)

val carRDD = dataRDD.map(line => {
  val cols = line.split(",")
  Car(
    cols(0).toInt,
    cols(1).toDouble,
    cols(2).toInt,
    cols(3).toDouble,
    cols(4).toInt,
    cols(5).toDouble,
    cols(6).toDouble,
    cols(7).toInt,
    cols(8).toInt,
    cols(9)
  )
})


val carDF = carRDD.toDF()

carDF.show(10)
carDF.printSchema()
carDF.summary().show()

carDF.select("origin").distinct().show()

carDF.select(min("mpg"), max("mpg")).show()
carDF.select(min("horsepower"), max("horsepower")).show()

+--------+----+---------+------------+----------+------+------------+----+------+--------------------+
|rownames| mpg|cylinders|displacement|horsepower|weight|acceleration|year|origin|                name|
+--------+----+---------+------------+----------+------+------------+----+------+--------------------+
|       1|18.0|        8|       307.0|     130.0|3504.0|        12.0|  70|     1|chevrolet chevell...|
|       2|15.0|        8|       350.0|     165.0|3693.0|        11.5|  70|     1|   buick skylark 320|
|       3|18.0|        8|       318.0|     150.0|3436.0|        11.0|  70|     1|  plymouth satellite|
|       4|16.0|        8|       304.0|     150.0|3433.0|        12.0|  70|     1|       amc rebel sst|
|       5|17.0|        8|       302.0|     140.0|3449.0|        10.5|  70|     1|         ford torino|
|       6|15.0|        8|       429.0|     198.0|4341.0|        10.0|  70|     1|    ford galaxie 500|
|       7|14.0|        8|       454.0|     220.0|4354.0|         9.0|  70|     1|    chevrolet impala|
|       8|14.0|        8|       440.0|     215.0|4312.0|         8.5|  70|     1|   plymouth fury iii|
|       9|14.0|        8|       455.0|     225.0|4425.0|        10.0|  70|     1|    pontiac catalina|
|      10|15.0|        8|       390.0|     190.0|3850.0|         8.5|  70|     1|  amc ambassador dpl|
+--------+----+---------+------------+----------+------+------------+----+------+--------------------+
only showing top 10 rows

root
 |-- rownames: integer (nullable = false)
 |-- mpg: double (nullable = false)
 |-- cylinders: integer (nullable = false)
 |-- displacement: double (nullable = false)
 |-- horsepower: double (nullable = false)
 |-- weight: double (nullable = false)
 |-- acceleration: double (nullable = false)
 |-- year: integer (nullable = false)
 |-- origin: integer (nullable = false)
 |-- name: string (nullable = true)

+-------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+-----------------+------------------+--------------------+
|summary|          rownames|               mpg|        cylinders|      displacement|        horsepower|            weight|      acceleration|             year|            origin|                name|
+-------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+-----------------+------------------+--------------------+
|  count|               392|               392|              392|               392|               392|               392|               392|              392|               392|                 392|
|   mean| 198.5204081632653|23.445918367346938|5.471938775510204|194.41198979591837|104.46938775510205|2977.5841836734694|15.541326530612247| 75.9795918367347|1.5765306122448979|                NULL|
| stddev|114.43806706553057|7.8050074865717995|1.705783247452785|104.64400390890464| 38.49115993282846|  849.402560042949| 2.758864119188081|3.683736543577854|0.8055181834183056|                NULL|
|    min|                 1|               9.0|                3|              68.0|              46.0|            1613.0|               8.0|               70|                 1|amc ambassador br...|
|    25%|                99|              17.0|                4|             105.0|              75.0|            2223.0|              13.7|               73|                 1|                NULL|
|    50%|               198|              22.5|                4|             151.0|              93.0|            2800.0|              15.5|               76|                 1|                NULL|
|    75%|               296|              29.0|                8|             267.0|             125.0|            3613.0|              17.0|               79|                 2|                NULL|
|    max|               397|              46.6|                8|             455.0|             230.0|            5140.0|              24.8|               82|                 3|    vw rabbit custom|
+-------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+-----------------+------------------+--------------------+

+------+
|origin|
+------+
|     1|
|     3|
|     2|
+------+

+--------+--------+
|min(mpg)|max(mpg)|
+--------+--------+
|     9.0|    46.6|
+--------+--------+

+---------------+---------------+
|min(horsepower)|max(horsepower)|
+---------------+---------------+
|           46.0|          230.0|
+---------------+---------------+

rdd = ./data-car.csv MapPartitionsRDD[61] at textFile at <console>:35
header = rownames,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
dataRDD = MapPartitionsRDD[62] at filter at <console>:38
carRDD = MapPartitionsRDD[63] at map at <console>:40
carDF = [rownames: int, mpg: double ... 8 more fields]

[rownames: int, mpg: double ... 8 more fields]